<div class="nav__search">
  <img src="./Assets/main/search icon.svg" alt="" />
  <input type="text" name="" id="" placeholder="Search" />
</div>
<div class="nav__setting">
  <div class="nav__setting--notify">
    <img src="./Assets/main/notification.svg" alt="notification-box" />
  </div>
  <div class="nav__setting--message">
    <img src="./Assets/main/message box.png" alt="message-box" />
  </div>
  <div class="nav__setting--profile">
    <img src="./Assets/main/Profile.svg" alt="profile" />
  </div>
</div>
