<div class="side-bar__option">
  <div class="side-bar__option--top-icon">
    <img src="./Assets/Side-bar icons/musicnote.svg" alt="musicnote" />
  </div>
  <div class="side-bar__option--top">ChrisPlay</div>
</div>
<div class="side-bar__option">
  <div class="side-bar__option--icon">
    <img src="./Assets/Side-bar icons/home Icon.svg" alt="home-icon" />
  </div>
  <div class="side-bar__option--info">Home</div>
</div>
<div class="side-bar__option">
  <div class="side-bar__option--icon">
    <img src="./Assets/Side-bar icons/music.svg" alt="music-icon" />
  </div>
  <div class="side-bar__option--info">My Music</div>
</div>
<div class="side-bar__option">
  <div class="side-bar__option--icon">
    <img src="./Assets/Side-bar icons/Now playing.svg" alt="now_playing-icon" />
  </div>
  <div class="side-bar__option--info">Recent Plays</div>
</div>
<div class="side-bar__option">
  <div class="side-bar__option--icon">
    <img src="./Assets/Side-bar icons/musicplaylist.svg" alt="musicplaylist" />
  </div>
  <div class="side-bar__option--info">Now Playing</div>
</div>
<div class="side-bar__option">
  <div class="side-bar__option--icon">
    <img src="./Assets/Side-bar icons/favorite song.svg" alt="favorite-icon " />
  </div>
  <div class="side-bar__option--info">Favorite Songs</div>
</div>
